# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Entorno virtual
.env
.venv
env/
venv/
ENV/

# VSCode
.vscode/
*.code-workspace
.history/

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Pygame Zero específico
*.pyc
high_scores.txt
saved_game.json

# Archivos temporales
*.tmp
*.bak
*.swp

# Code Runner
tempCodeRunnerFile.py